<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consignee</key>
	<string>收货人</string>
	<key>tel</key>
	<string>电话</string>
	<key>address</key>
	<string>收货地址</string>
	<key>payment</key>
	<string>付款方式</string>
	<key>brand</key>
	<string>品牌</string>
	<key>material</key>
	<string>材质</string>
	<key>size</key>
	<string>尺码</string>
	<key>color</key>
	<string>颜色</string>
	<key>count</key>
	<string>数量</string>
	<key>money</key>
	<string>价格</string>
</dict>
</plist>
