<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data_source</key>
	<dict>
		<key>leftView</key>
		<array>
			<dict>
				<key>title</key>
				<string>品牌</string>
				<key>source</key>
				<array>
					<string>C.K.</string>
					<string>Jack Jones</string>
					<string>Armani</string>
					<string>凡客诚品</string>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>材质</string>
				<key>source</key>
				<array>
					<string>纯棉</string>
					<string>亚麻</string>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>颜色</string>
				<key>source</key>
				<array>
					<string>白色</string>
					<string>黑色</string>
					<string>黄色</string>
					<string>绿色</string>
					<string>红色</string>
					<string>蓝色</string>
				</array>
			</dict>
		</array>
		<key>rightView</key>
		<array>
			<dict>
				<key>title</key>
				<string>尺码</string>
				<key>source</key>
				<array>
					<string>XS</string>
					<string>S</string>
					<string>M</string>
					<string>L</string>
					<string>XL</string>
					<string>XXL</string>
				</array>
				<key>Description</key>
				<dict>
					<key>XS</key>
					<string>(155-160cm)</string>
					<key>S</key>
					<string>(160-170cm)</string>
					<key>M</key>
					<string>(168-175cm)</string>
					<key>L</key>
					<string>(172-178cm)</string>
					<key>XL</key>
					<string>(175-185cm)</string>
					<key>XXL</key>
					<string>(180-190cm)</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>image_source</key>
	<dict>
		<key>蓝色</key>
		<dict>
			<key>icon</key>
			<string>cloth_icon_blue.png</string>
			<key>cloth_image</key>
			<string>cloth_image_blue.png</string>
		</dict>
		<key>红色</key>
		<dict>
			<key>icon</key>
			<string>cloth_icon_red.png</string>
			<key>cloth_image</key>
			<string>cloth_image_red.png</string>
		</dict>
		<key>绿色</key>
		<dict>
			<key>icon</key>
			<string>cloth_icon_green.png</string>
			<key>cloth_image</key>
			<string>cloth_image_green.png</string>
		</dict>
		<key>黄色</key>
		<dict>
			<key>icon</key>
			<string>cloth_icon_yellow.png</string>
			<key>cloth_image</key>
			<string>cloth_image_yellow.png</string>
		</dict>
		<key>黑色</key>
		<dict>
			<key>白色</key>
			<dict>
				<key>icon</key>
				<string>cloth_icon_white.png</string>
				<key>cloth_image</key>
				<string>cloth_image_white.png</string>
			</dict>
			<key>icon</key>
			<string>cloth_icon_back.png</string>
			<key>cloth_image</key>
			<string>cloth_image_black.png</string>
		</dict>
		<key>白色</key>
		<dict>
			<key>icon</key>
			<string>cloth_icon_white.png</string>
			<key>cloth_image</key>
			<string>cloth_image_white.png</string>
		</dict>
		<key>亚麻色</key>
		<dict>
			<key>icon</key>
			<string>cloth_icon_flax.png</string>
			<key>cloth_image</key>
			<string>cloth_image_flax.png</string>
		</dict>
	</dict>
	<key>color_source</key>
	<dict>
		<key>亚麻</key>
		<array>
			<string>亚麻色</string>
		</array>
		<key>纯棉</key>
		<array>
			<string>白色</string>
			<string>黑色</string>
			<string>黄色</string>
			<string>绿色</string>
			<string>红色</string>
			<string>蓝色</string>
		</array>
	</dict>
</dict>
</plist>
