<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon114</string>
				<string>图标(57x57).png</string>
				<string>图标(114x114).png</string>
				<string>icon(114x114).png</string>
				<string>icon(57x57).png</string>
				<string>icon57.png</string>
				<string>icon114.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.tixa.lianxi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>DoodleTee</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Partner</key>
	<string>2088011485123579</string>
	<key>RSA private key</key>
	<string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAITNQ3HRvZkaxmtUb77v08KlnYJeWYR715jZVYyoXZCQZjb4uHffs21+lba0/BYPYDERzn4XNB9u8s29utYlOWzVgXHEeTEODaziHPlCQUGIsvaD1OaXq+U6vDhAz6AhBrGxp58gCvFZi+CDqqVo5Cmhi6Xu9kJ8cWEQxv7kEitFAgMBAAECgYA9L6F6aGtVhjuTKeUOcMr9LHcEoNnXq4Nq/f9nfg8V0yH1A+Vh/aRat27dLkfTFiR4lz6vY5t1PBYMavURQzdQXkpfbThgRSgjyz+KOxvN5OijLA5osqmvKAtNrS6LfQIM1J/tb2fjwkRyc4AWwSYvOnhDQv5M/crZ3wvuItKCpQJBAMURlbr/fhsUZlA+XsqalBqNDuCgUPOC1rNxRwFFQr+EA4/zaATccPWI3DOzsjB8DaMeNG34Y7fhGGhZag8HUg8CQQCsg8kmpo/G5FflYJINLmWYwU9c201sUc38brbhRxfFHddwuRtPzaDAL2/IZKxQnvorLg3Qkm8rDLrk9tnL0jFrAkEAnE/hcy0aysH4kaeXKp9H4HOInHWtICnkwPqV9pUIZ75/0Nuh41EzLB69gykCquCLNJpNvfiqp/ycjpB1xqvo0wJARCoCReJUNwssa7afntOxUw02tYL1cZJVKKP6YML9cmZbJPAPCZY/KRDVQ0H8EBLw2DTnQn1JraHnCuc6oV1ZJwJABIl92UCreiqoMd/+WQExWe2DACAGUq/pe0Ks7PK4LFDw27JR2yNlMKDQnCLLoUMJVbgphm83kh/Gnik5h63boQ==</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCEzUNx0b2ZGsZrVG++79PCpZ2CXlmEe9eY2VWMqF2QkGY2+Lh337NtfpW2tPwWD2AxEc5+FzQfbvLNvbrWJTls1YFxxHkxDg2s4hz5QkFBiLL2g9Tml6vlOrw4QM+gIQaxsaefIArxWYvgg6qlaOQpoYul7vZCfHFhEMb+5BIrRQIDAQAB</string>
	<key>Seller</key>
	<string>2088011485123579</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
